  <footer class="page-footer font-small unique-color-dark " style="background: black; margin-bottom: 0px;  ">
      <div class="footer-copyright text-center py-3" style="color: #fff;">© 2024 Copyright:
        <a href="https://github.com/likhithaindukuri/NoteHub" style="color: #fff;"> Note Hub</a>
        <br>
        <br>
        <h9>Made with &hearts; by <span>Likhitha Indukuri</span></h5>
      </div>
    </footer>